<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>

<div class="element" *ngIf="products$ | async as products">
  <div class="element-left">
    <div class="element-bg-img" >
      <img [src]="src1 || products[0].img1"  alt="" class="img-responsive">
    </div>
    <div class="element-left-bottom">
      <div class="ele-strip">
        <ul class="activity-list">
          <li *ngFor="let type of types">
            <app-activity-type [type]="type" (typeSelected)="searchType = type"></app-activity-type>
          </li>
        </ul>
      </div>
      <div class="village">
        <h3>Crete resorts & like</h3>
        <span class="line"> </span>
        <div class="activity_box">
          <div class="scrollbar" id="style-2">
            <div class="activity-row">
              <app-activity-card *ngFor="let product of products | productFilter:searchType; phone" [product]="product" (click)="src1=product.img1; src2=product.img2; temperature=product.weather.temperature; water=product.weather.water; followers=product.social_info.followers; following=product.social_info.following"></app-activity-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="element-right">
    <div class="temperatur">
      <h5>Current weather</h5>
      <span class="w-line"> </span>
      <span class="cloud"> </span>
      <h2>+{{temperature || products[0].weather.temperature}}<sup class="degree">°</sup></h2>
      <h6>Water +{{water || products[0].weather.water}}<sup class="degree">°</sup></h6>
    </div>
    <div class="teddy-bear">
      <div class="teddy-text">
        <h4>Social networks</h4>
        <span class="w-line"> </span>
        <img [src]="src2 || products[0].img2" alt="" class="img-responsive">
      </div>
      <div class="teddy-follow">
        <ul>
          <li class="folw-h">
            <h3>{{followers || products[0].social_info.followers}}</h3>
            <p>Followers</p>
          </li>
          <li>
            <h3>{{following || products[0].social_info.following}}</h3>
            <p>Following</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="clear"> </div>
</div>

<app-footer></app-footer>